<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Athlete</title>      
</head>
<body>
    <%if (athlete===undefined){%>
    <h1>Athlete not found</h1>
    <%}else{%>
      <h1><%= athlete.name+" "+athlete.lastname %></h1>
        <div>
          <h2>Stats</h2>
          <div> 
            <h3>Record: <%=stats.record[0]+" - "+stats.record[1]%></h3>
            <h3>Win rate: <%=stats.win_rate.toFixed(2)+"%"%></h3>
            <h3>Win gap: <%=stats.win_gap.toFixed(2)+"%"%></h3>
            <h3>Striking</h3>
              <%const keys=Object.keys(stats.strikes)%> 
              <%const values=Object.values(stats.strikes)%> 
              <%for (let i=0 ; i<keys.length ; i++ ){ %>
                  <span style="display:inline-block"><h4><%=keys[i]+": "+values[i].toFixed(2)%></h4></span>
              <%}%>
            <h3>Average head strikes: <%=stats.body_part_strikes.head.toFixed(2)+""%></h3>
            <h3>Average body strikes: <%=stats.body_part_strikes.body.toFixed(2)+""%></h3>
          </div>
          <div>
          <h2>Fights (<%=fights.length%>)</h2>
            <ul>
              <%fights.forEach((fight) =>{%>
              <li><a href="http://localhost:3000/fights/match/<%=fight.id%>"><%=fight.athlete_red+" VS "+fight.athlete_blue%></a></li>
              <p>
                <%="Red score:"%>
                <%=fight.points_red%>
                <%="Blue score:"%>
                <%=fight.points_blue%>
                </p>
              <%})%>
            </ul>
          </div>
        </div>
    <%}%>
</body>
</html>
